*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
}

:disabled {
  cursor: default;
}

figure,
p {
  margin: 0;
}

ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
